a{
    text-decoration: none !important;
    color: inherit;
}
#navBar{
    background-color: #29FF9C;
    height: 100%;
}
#navOpener{
    margin-top: 10%;
}
#navBar a:hover{
    color: #f1f1f1;
}
#userImg{
    border-radius: 15px !important;
}
#userName{
    padding-top: 2%;
    font-size: 1em;
    color: white;
}
#creator{
    font-size: 1.2em;
    color: white;
    position: absolute;
    bottom: 0;
}
#logoff{
    font-size: 1.7em;
}
.element{
    padding-top: 5%;
    background-color: inherit;
    color: white;
}
.element:hover{
    background-color: #3ad260 !important;
    color: black;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color:white;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
