.animationOpen{
    animation: open 0.5s forwards;
}
@keyframes open {
    from {margin-left: 0px;}
    to {margin-left: 250px;}
}

.animationClose{
    animation: close 0.5s forwards;
}
@keyframes close {
    from {margin-left: 250px;}
    to {margin-left: 0px;}
}


html,body{
    margin:0;
    padding:0;
}
ul{
    padding: 0px !important;
}
hr{
    margin-top: 0 !important;
    margin-bottom: 0 !important;

}
#title{
    color: white;
    font-size: 1.7em;
    font-family: 'Oswald', sans-serif;
}
#searchBar{

    background: linear-gradient(to right, #579c87 0%, #58bd8f 100%);
}
#search{
    background-color: white;
    color: rgb(65, 66, 64);
}
#candidatos{
    margin-top: 4%;
    margin-bottom: 4%;
}
.input-group{
    max-height: 60px !important;
}
.search{
    max-height: 60px !important;
}
.container{
    height: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.container:hover{
    background-color: #579c87;
    color: white;
    transition: 0.3s;
}
#navOpener{
    margin-top: 0 !important;
    z-index: 0;
    border: none;
    background-color: inherit;

    color: white;
}
#navOpener:hover{
    color: rgb(65, 66, 64);
    z-index: 1;
}

.candidato{
        padding-top: 3%;
        padding-bottom: 3%;
}
.nome{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-left: 4%;
}
.email{
    margin-left: 4%;
}
.info{
    margin-top: 2%;
    font-style: italic;
    padding-left: 4%;
    font-family: 'Lato', sans-serif;
}
