.animationOpen{
    animation: open 0.5s forwards;
}
@keyframes open {
    from {margin-left: 0px;}
    to {margin-left: 250px;}
}
.animationClose{
    animation: close 0.5s forwards;
}
@keyframes close {
    from {margin-left: 250px;}
    to {margin-left: 0px;}
}

html,body{
    margin:0;
    padding:0;
    background-color: rgb(246, 244, 235);
}
#searchBar{

    background: linear-gradient(to right, #579c87 0%, #58bd8f 100%);
}
#search{
    background-color: white;
    color: rgb(65, 66, 64);
}
.input-group{
    max-height: 60px !important;
}
.row{
    max-height: 60px !important;
}
.cards{
    margin-bottom: 20%;
}
.container{
    height: 100% !important;
    position: relative;
}
#navOpener{
    margin-top: 0 !important;
    z-index: 0;
    border: none;
    background-color: inherit;

    color: white;
}
#navOpener:hover{
    color: rgb(65, 66, 64);
    z-index: 1;

}
#criaVaga{
    margin-top: 0 !important;
    border-width: thin;
    margin-left: 4%;
    border-radius: 10px;
    border-color: white;
    background-color: inherit;
    font-family: 'Oswald', sans-serif;
    color: white;
}
#criaVaga:hover{
    background-color: white;
    color:#58bd8f;
    z-index: 1;

}
