html,body{
    margin:0;
    padding:0;
}
#searchBar{
    background-color: #06CC7E;
}
#search{
    background-color: rgb(52,53, 55);
    color: white;
}
.input-group{
    max-height: 60px !important;
}
.row{
    max-height: 60px !important;
}
.cards{
    margin-bottom: 20%;
}
.container{
    height: 100% !important;
    position: relative;
}
#navOpener{
    margin-top: 0 !important;
    z-index: 0;
    border: none;
    background-color: inherit;
    color: rgb(52, 53, 55);
}
#navOpener:hover{
    color: white;
    z-index: 0;

}
